<!DOCTYPE html>
<html>
 <head>
    <title inertia><%= content_for(:title) || "My Personal Blog" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_react_refresh_tag %>
    <%= vite_client_tag %>
    <%= vite_typescript_tag "inertia" %>
    <%= inertia_ssr_head %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
